[submodule "Submodules/RSSAtomKit"]
	path = Submodules/RSSAtomKit
	url = git@github.com:chrisballinger/RSSAtomKit.git
[submodule "Submodules/CPAProxy"]
	path = Submodules/CPAProxy
	url = git@github.com:ursachec/CPAProxy.git
[submodule "Submodules/IOCipher"]
	path = Submodules/IOCipher
	url = git@github.com:ChatSecure/IOCipher-ObjC.git
