<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnboardingScreen1Style</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ff69d9f7</string>
	</dict>
	<key>OnboardingScreen2Style</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffd0021b</string>
	</dict>
	<key>OnboardingScreen3Style</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ff2400ff</string>
	</dict>
	<key>OnboardingTextHeadingStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#00000000</string>
		<key>tintColor</key>
		<string>#ffffffff</string>
		<key>textColor</key>
		<string>#ffffffff</string>
		<key>textSize</key>
		<integer>22</integer>
	</dict>
	<key>OnboardingTextContentStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#00000000</string>
		<key>tintColor</key>
		<string>#ffffffff</string>
		<key>textColor</key>
		<string>#ffffffff</string>
		<key>textSize</key>
		<integer>15</integer>
	</dict>
	<key>OnboardingTextActionStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffdddddd</string>
		<key>tintColor</key>
		<string>#ff777777</string>
		<key>textColor</key>
		<string>#ff777777</string>
		<key>textSize</key>
		<integer>14</integer>
	</dict>
	<key>Colors</key>
	<dict>
		<key>highlightColor</key>
		<string>#ff6cc01d</string>
	</dict>
	<key>HilitedTintStyle</key>
	<dict>
		<key>textColor</key>
		<string>@Colors/highlightColor</string>
		<key>tintColor</key>
		<string>@Colors/highlightColor</string>
	</dict>
	<key>SCRSegmentedControl</key>
	<dict>
		<key>edgeHeight</key>
		<integer>4</integer>
		<key>backgroundColorNormal</key>
		<string>#00000000</string>
		<key>backgroundColorSelected</key>
		<string>@Colors/highlightColor</string>
		<key>textSizeNormal</key>
		<integer>10</integer>
		<key>textColorNormal</key>
		<string>#ff000000</string>
		<key>textSizeSelected</key>
		<integer>12</integer>
		<key>textColorSelected</key>
		<string>@Colors/highlightColor</string>
	</dict>
	<key>FeedListSearchStyle</key>
	<dict>
		<key>tintColor</key>
		<string>#ff95ab55</string>
		<key>textColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>FeedListSwitchStyle</key>
	<dict>
		<key>onTintColor</key>
		<string>#ff95ab55</string>
		<key>tintColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>TabBarItemStyle</key>
	<dict>
		<key>tintColor</key>
		<string>#ff888888</string>
		<key>backgroundColorSelected</key>
		<string>@Colors/highlightColor</string>
		<key>edgeHeight</key>
		<integer>3</integer>
	</dict>
	<key>NavigationBarItemStyle</key>
	<dict>
		<key>textColor</key>
		<string>#ff95ab55</string>
		<key>tintColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>ListItemShadowStyle</key>
	<dict>
		<key>backgroundGradientV</key>
		<string>#ffcccccc,#ffefefef:0.0,0.5</string>
	</dict>
	<key>FeedListStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffff</string>
	</dict>
	<key>FeedListCategoryStyle</key>
	<dict>
		<key>textColor</key>
		<string>#fff9ff04</string>
	</dict>
	<key>FeedListTitleStyle</key>
	<dict>
		<key>textColor</key>
		<string>#ff000000</string>
	</dict>
	<key>FeedListDescriptionStyle</key>
	<dict>
		<key>textColor</key>
		<string>#ffaaaaaa</string>
	</dict>
	<key>UIButton</key>
	<dict>
		<key>parent</key>
		<string>RoundButtonStyle</string>
	</dict>
	<key>RoundButtonStyle</key>
	<dict>
		<key>corners</key>
		<integer>5</integer>
		<key>tintColor</key>
		<string>#ff000000</string>
		<key>backgroundColor</key>
		<string>#ffffff00</string>
	</dict>
	<key>LoginScreenStyle</key>
	<dict>
		<key>background</key>
		<string>background_debut_light</string>
	</dict>
	<key>SettingsScreenStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffe0</string>
	</dict>
	<key>ReceiveShareButtonStyle</key>
	<dict>
		<key>corners</key>
		<integer>0</integer>
		<key>tintColor</key>
		<string>#ffffffff</string>
		<key>backgroundColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>FullScreenButtonStyle</key>
	<dict>
		<key>onTintColor</key>
		<string>#ffff0000</string>
		<key>corners</key>
		<integer>0</integer>
		<key>tintColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>ItemTitleStyle</key>
	<dict>
		<key>textSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>#ff000000</string>
	</dict>
	<key>ItemContentStyle</key>
	<dict>
		<key>textSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>#ff000000</string>
	</dict>
	<key>SourceStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffff</string>
	</dict>
	<key>SourceTitleStyle</key>
	<dict>
		<key>textSize</key>
		<integer>10</integer>
		<key>textColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>SourceTimeStyle</key>
	<dict>
		<key>textSize</key>
		<integer>10</integer>
		<key>textColor</key>
		<string>#ff999999</string>
	</dict>
	<key>SourceSeparatorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffcccccc</string>
	</dict>
	<key>AuthorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffcccccc</string>
	</dict>
	<key>AuthorSeparatorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>AuthorDateStyle</key>
	<dict>
		<key>parent</key>
		<string>SourceTimeStyle</string>
	</dict>
	<key>AuthorTimeStyle</key>
	<dict>
		<key>parent</key>
		<string>SourceTimeStyle</string>
	</dict>
	<key>AuthorNameStyle</key>
	<dict>
		<key>parent</key>
		<string>SourceTimeStyle</string>
	</dict>
	<key>TagStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffff</string>
		<key>textSize</key>
		<integer>15</integer>
		<key>textColor</key>
		<string>@Colors/highlightColor</string>
	</dict>
	<key>PostDraftTitleStyle</key>
	<dict>
		<key>parent</key>
		<string>ItemTitleStyle</string>
	</dict>
	<key>PostDraftContentStyle</key>
	<dict>
		<key>parent</key>
		<string>ItemContentStyle</string>
	</dict>
	<key>HintStyle</key>
	<dict>
		<key>corners</key>
		<integer>15</integer>
		<key>edgeColor</key>
		<string>#ffffffff</string>
		<key>edgeThickness</key>
		<integer>2</integer>
	</dict>
	<key>HintBackgroundStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#a0404040</string>
	</dict>
	<key>HintTextStyle</key>
	<dict>
		<key>textSize</key>
		<integer>20</integer>
		<key>textColor</key>
		<string>#ffffffff</string>
	</dict>
	<key>HintButtonStyle</key>
	<dict>
		<key>corners</key>
		<integer>5</integer>
		<key>tintColor</key>
		<string>#ffffffff</string>
		<key>backgroundColor</key>
		<string>@Colors/highlightColor</string>
	</dict>
	<key>MoreSectionStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffe4e4e4</string>
		<key>textSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>#ff888888</string>
	</dict>
	<key>MediaDownloadsSectionStyle</key>
	<dict>
		<key>parent</key>
		<string>MoreSectionStyle</string>
	</dict>
</dict>
</plist>
