<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCRSegmentedControl</key>
	<dict>
		<key>edgeHeight</key>
		<integer>4</integer>
		<key>backgroundColorNormal</key>
		<string>#00000000</string>
		<key>backgroundColorSelected</key>
		<string>#ff95ab55</string>
		<key>textSizeNormal</key>
		<integer>10</integer>
		<key>textColorNormal</key>
		<string>#ff000000</string>
		<key>textSizeSelected</key>
		<integer>12</integer>
		<key>textColorSelected</key>
		<string>#ff95ab55</string>
	</dict>
	<key>FeedListSearchStyle</key>
	<dict>
		<key>tintColor</key>
		<string>#ff95ab55</string>
		<key>textColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>FeedListSwitchStyle</key>
	<dict>
		<key>onTintColor</key>
		<string>#ff95ab55</string>
		<key>tintColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>TabBarItemStyle</key>
	<dict>
		<key>parent</key>
		<string>NavigationBarItemStyle</string>
	</dict>
	<key>NavigationBarItemStyle</key>
	<dict>
		<key>textColor</key>
		<string>#ff95ab55</string>
		<key>tintColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>ListItemShadowStyle</key>
	<dict>
		<key>backgroundGradientV</key>
		<string>#ffcccccc,#ffefefef:0.0,0.5</string>
	</dict>
	<key>FeedListStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffff</string>
	</dict>
	<key>FeedListTitleStyle</key>
	<dict>
		<key>textColor</key>
		<string>#ff000000</string>
	</dict>
	<key>FeedListDescriptionStyle</key>
	<dict>
		<key>textColor</key>
		<string>#ffaaaaaa</string>
	</dict>
	<key>UIButton</key>
	<dict>
		<key>parent</key>
		<string>RoundButtonStyle</string>
	</dict>
	<key>RoundButtonStyle</key>
	<dict>
		<key>corners</key>
		<integer>5</integer>
		<key>tintColor</key>
		<string>#ff000000</string>
		<key>backgroundColor</key>
		<string>#ffffff00</string>
	</dict>
	<key>LoginScreenStyle</key>
	<dict>
		<key>background</key>
		<string>background_debut_light</string>
	</dict>
	<key>SettingsScreenStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffe0</string>
	</dict>
	<key>ReceiveShareButtonStyle</key>
	<dict>
		<key>corners</key>
		<integer>0</integer>
		<key>tintColor</key>
		<string>#ffffffff</string>
		<key>backgroundColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>FullScreenButtonStyle</key>
	<dict>
		<key>onTintColor</key>
		<string>#ffff0000</string>
		<key>corners</key>
		<integer>0</integer>
		<key>tintColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>SourceStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffffff</string>
	</dict>
	<key>SourceTitleStyle</key>
	<dict>
		<key>textSize</key>
		<integer>10</integer>
		<key>textColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>SourceTimeStyle</key>
	<dict>
		<key>textSize</key>
		<integer>10</integer>
		<key>textColor</key>
		<string>#ff999999</string>
	</dict>
	<key>SourceSeparatorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffcccccc</string>
	</dict>
	<key>AuthorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffcccccc</string>
	</dict>
	<key>AuthorSeparatorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ff95ab55</string>
	</dict>
	<key>AuthorDateStyle</key>
	<dict>
		<key>parent</key>
		<string>SourceTimeStyle</string>
	</dict>
	<key>AuthorTimeStyle</key>
	<dict>
		<key>parent</key>
		<string>SourceTimeStyle</string>
	</dict>
	<key>AuthorNameStyle</key>
	<dict>
		<key>parent</key>
		<string>SourceTimeStyle</string>
	</dict>
</dict>
</plist>
