<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Tor</string>
			<key>Key</key>
			<string>useTor</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Display images</string>
			<key>Key</key>
			<string>downloadMedia</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Panic</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Wipe entire app</string>
				<string>Wipe my content</string>
			</array>
			<key>Values</key>
			<array>
				<string>wipeAll</string>
				<string>wipeData</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Action</string>
			<key>Key</key>
			<string>panicAction</string>
			<key>DefaultValue</key>
			<string>wipeData</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Login</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Lock Automatically</string>
			<key>Key</key>
			<string>lockTimeout</string>
			<key>DefaultValue</key>
			<string>86400</string>
			<key>Titles</key>
			<array>
				<string>Immediate</string>
				<string>1 minute</string>
				<string>1 hour</string>
				<string>1 day</string>
				<string>1 week</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>60</string>
				<string>3600</string>
				<string>86400</string>
				<string>604800</string>
			</array>
			<key>FooterText</key>
			<string>Locking allows your information to be encrypted and stored safely on your device. Choose timeout.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Wrong Passphrase Attempts</string>
			<key>Key</key>
			<string>passphraseAttempts</string>
			<key>DefaultValue</key>
			<string>3</string>
			<key>Titles</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>Do not wipe the app because of a wrong passphrase</string>
			</array>
			<key>Values</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>0</string>
			</array>
			<key>FooterText</key>
			<string>Choose the number of times a wrong passphrase can be entered before your personal data is wiped from the app.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Kill Passphrase</string>
			<key>Key</key>
			<string>useKillPassphrase</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Data Use &amp; Syncing</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Article Expiration</string>
			<key>Key</key>
			<string>articleExpiration</string>
			<key>DefaultValue</key>
			<string>2592000</string>
			<key>Titles</key>
			<array>
				<string>1 day</string>
				<string>1 week</string>
				<string>1 month</string>
			</array>
			<key>Values</key>
			<array>
				<string>86400</string>
				<string>604800</string>
				<string>2592000</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sync frequency</string>
			<key>Key</key>
			<string>syncFrequency</string>
			<key>DefaultValue</key>
			<string>InBackground</string>
			<key>Titles</key>
			<array>
				<string>When app is running</string>
				<string>In background</string>
			</array>
			<key>Values</key>
			<array>
				<string>WhenRunning</string>
				<string>InBackground</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sync network</string>
			<key>Key</key>
			<string>syncNetwork</string>
			<key>DefaultValue</key>
			<string>WifiAndMobile</string>
			<key>Titles</key>
			<array>
				<string>WiFi only</string>
				<string>WiFi and mobile networks</string>
			</array>
			<key>Values</key>
			<array>
				<string>WifiOnly</string>
				<string>WifiAndMobile</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
